@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,900;1,400;1,800&family=Raleway:ital,wght@0,300;1,300&display=swap');
body{
 background-color:
 
whitesmoke
}
.reg .box{
    height:25rem;
}
.box
{
    background-color: rgb(224, 218, 220);
     height:19rem;
     width:25rem;
     display: flex;
     flex-direction:column;
  justify-content: space-evenly;
  position:absolute;
  top:30%;
  left:40%;
  border-radius:10px;
  padding:1rem;
}

.email , .password,.user{
    padding:1rem;
    display: flex;
    justify-content: center;
    align-items: center;


}

.icons{
    background-color: rgb(167, 194, 201);
    padding:0.3rem;margin:0.4rem;
    border-radius:10px;
    color:rgb(38, 63, 63);
    transition: all 0.3s ease-in-out;

}
.icons:hover{
    transform: scale(1.2);
    color:aquamarine;
    cursor:pointer
}
input{
    outline:none;
    border:none;
    height:2.5rem;
    border-radius:10px;
    padding:1rem;
    color:gray;
    opacity:0.8;
    text-decoration: none  !important;
    text-underline-position: none
    


}
button{
    width:50%;
    
    display:flex;
       outline:1px solid white;
       border:1px solid white;
    justify-content:space-between;
    align-items: center;
}

.dont{
    display:flex;
    justify-content: center;
    padding-top:0.1rem
}



@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,900;1,400;1,800&display=swap');
.title
{
    font-family: 'Playfair Display', serif;
}



.single{
    display:flex;
  gap:1rem
}
.content{
    flex:6;
   
}
.menu
{
    flex:3
}

.fullpost{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin-bottom:3rem
}

.image{
    height:35rem;
    width:35rem
}
.image>img{
    height:30rem;
    width:50vw;
    border-radius:6px;
    margin:4rem;  object-fit: cover;
    padding:1rem;
    border:15px solid whitesmoke
    
}

.profilephoto>img{
    height:3rem;
    border-radius:50px;
    width:3rem;
    

}

.written,.author{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    gap:1rem;
    margin-left:2.5rem;
}
.author{
    width:50vw;
    
    
}

.name{
    font-size: larger;
}
    
.iconsoption{
    display:flex;
    gap:1rem
}

.iconsoption:hover {
    cursor:pointer
}
.name{
    font-family: 'Times New Roman', Times, serif;
    padding:0.1rem;
    text-decoration: underline solid black;
}
.title{
    color:cadetblue
}

.description{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:45rem

}
.writeup{
    margin-left:5rem;
    background-color: black;
    color:antiquewhite;
    padding:1rem;
    width:auto;
    height:auto

}
.content{
    background-color: black;
    width:auto;
   
}
.author{
    color: antiquewhite;
    margin-bottom:1rem
}


.menupost{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    
    transform:scale(0.8);
    border: 3px solid white;
    border-radius:25px
    
}

.menuinfo{
    padding:1rem;
    color:black
}
.menutitle{
    padding:1rem;
    color:rgb(102, 148, 161);
    text-decoration: underline solid black;
}
.menudesc{
    color:azure
}

.menubtn
{
    outline:none;
    border:none;
    background-color: #4D4855;
}
.menuimg>img{
    border-radius:20px;
    transform: scale(0.95);
}
.menuall{
    overflow-y: scroll;
    max-height:40rem
}


.contents>div{
   
    padding:1rem

}

.titled{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    flex:2;
    background-color: #aca2bd;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
    max-height:70rem
}
.value{
    flex:7;
    width:40%;
    min-height:40rem
}

.steps{

    display:flex;
    flex-direction:column;
    justify-content:space-between;
    
}

.steps>div{
    margin:1rem;
}

.contents{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.titled>div{
    border: 1px solid rgb(38, 57, 77);
    background-color: aliceblue;box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.value>.input{
    border: 1px solid rgb(38, 57, 77);
   margin:1rem

}



.post{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
  
  margin:5rem

}
 .img>img{
    height:20rem;
    width:20rem;
    object-fit: cover;
 }

 .info{
    background-color:antiquewhite;
    height:20rem;
    width:40rem;
    padding:2rem;
 }

 .title{
    color:black;
    font-size:1.4rem
 }

 body{
    font-family: 'Times New Roman', Times, serif;
 }

 .categories{display:flex;
    flex-direction:row;
   
    gap:1rem;
  margin:1rem;
    
 }

 .cat{
    border:1px solid black;
    padding:0.2rem;
   border-radius:4px

 }

 .section{
    display:flex;
    flex-direction: row;
   
    gap:1rem;
    justify-content: space-between;
 }

 .aboutme{

    margin-top:10rem;
    position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 100px;
  height: 250px;
 }

 .Categories{
    border-top:2px solid black;
    border-bottom:2px solid black
 }

 .link{
    color:#4D4855
 }
 .aboutme .name{
    padding:1rem
 }

 .username{
    color:black;
    text-decoration: underline;

 }